@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin before-after {
    position: absolute;
    display: block;
    content: " ";
    width: calc(100% / 2);
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
}

@mixin text-boton {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

@mixin boton-position {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 50%;
    height: 50px;
    border-radius: 23px;
    cursor: pointer;
}

@mixin sub {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #13253B;
}

@mixin tabla--precios {
    ul {
        text-align: left;

        li {
            list-style-type: none;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 20px;

        }

        img {
            width: 14px;
            margin-right: 10px;
        }

    }

}

@mixin titulos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@media only screen and (min-width: 320px) {
    body {
        min-width: 320px;

    }

    header {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
        z-index: 5;
        background-color: #fff;



    }

    .menu {

        nav {
            padding-left: 25px;
            padding-top: 17px;
            background-color: #fff;
            a {
                text-decoration: none;
            }


        }

        .menu--logo {
            font-family: "Raleway";
            font-size: 32px;
            font-weight: 300;
            color: #08A6E4;

        }

        /* Código botón */
        #abrir-cerrar {
            visibility: hidden;
            position: absolute;
            top: 0;
        }

        .boton {
            display: block;
            width: 50px;
            height: 50px;
            border: none;
            position: absolute;
            cursor: pointer;
            top: 0.5em;
            left: 85%;

        }

        /* Estilo del botón */
        .boton:before {
            @include before-after;
            top: calc(100% / 4);
            height: calc(100% / 4);
            border-top: 1px solid #07ACE6;
            border-bottom: 1px solid #07ACE6;
            background-color: transparent;
        }

        .boton:after {
            @include before-after;
            height: 1px;
            background-color: #07ACE6;
            bottom: calc(100% / 4);
        }

        /* Animacion hamburguesa */
        #abrir-cerrar:checked+.boton:before,
        #abrir-cerrar:checked+.boton:after {
            top: calc(100% / 2);
            height: 1px;
            border-bottom: 0;
        }

        #abrir-cerrar:checked+.boton:before {
            transform: rotate(45deg);
        }

        #abrir-cerrar:checked+.boton:after {
            transform: rotate(-45deg);
        }

        /* Comportamiento del botón */
        #abrir-cerrar:checked~.menu--lista {
            display: block;


        }

        .menu--lista {
            list-style-type: none;
            padding-top: 20px;
            padding-bottom: 20px;
            display: none;

            .lista--item {
                margin-bottom: 14px;

                a {
                    text-decoration: none;
                    font-family: "Open Sans";
                    font-size: 11px;
                    font-weight: 700;
                    color: #a5a5a5;

                }

                a:hover {
                    color: black;
                    cursor: pointer;
                }
            }
        }


    }

    .principal {
        margin-top: 170px;
        text-align: center;
        color: #000000;

        h2 {
            font-family: "raleway", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 41px;
        }

        p {
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            margin: 20px 33px 28px;

        }

        .principal--abrir {

            height: 67px;
            width: 90%;
            background: #08A6E4;
            border: #08A6E4;
            box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
            border-radius: 40px;
            cursor: pointer;

            & p {
                color: white;
                font-family: "Open Sans";
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
            }
        }

    }

    .fondo {

        .fondo--imagen {
            height: 267px;
            margin-top: 51px;
            width: 100%;
            background-image: url("css/Fondo.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        p {
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            margin: 13px 36px 25px;
        }

    }

    .estadistica {
        position: relative;

        .vector {
            position: relative;
            text-align: center;
            margin-bottom: 25px;

            .persona,
            .ojo,
            .tarjetas {
                position: absolute;
                left: 50%;
                top: 10%;
            }
        }

        .cantidad {
            font-family: "Raleway";
            font-weight: 800;
            font-size: 20px;
            text-align: center;
            letter-spacing: 5.96px;
            line-height: 24px;
        }

        .objeto {
            font-family: "Raleway";
            font-weight: 400;
            font-size: 17px;
            text-align: center;
            font-style: normal;
            margin-top: 1em;
        }

    }

    .articulos {
        background-color: #F7F7F7;
        padding: 45px 0;

        .art1 {
            position: relative;
            height: 370px;
            border: 1px solid #E8E9ED;
            background-color: #FFFFFF;
            margin: 0px 30px 42px;
            border-radius: 5px;

            img:nth-child(3),
            img:nth-child(4) {
                display: none;
            }

            img:nth-child(1) {
                position: absolute;
                top: 37px;
                right: 15%;
                z-index: 1;
            }

            img:nth-child(2) {
                position: absolute;
                top: 15px;
                right: 15%;
            }

            h3 {
                height: 72px;
                width: 80%;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 35px;
                margin: 174px 94px 10px 22px;
            }

            p {
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                margin: 0 21px 30px;
            }
        }

        .art2 {
            position: relative;
            height: 370px;
            border: 1px solid #E8E9ED;
            background-color: #FFFFFF;
            margin: 0px 30px 42px;
            border-radius: 5px;

            img:nth-child(3),
            img:nth-child(4) {
                display: none;
            }

            img:nth-child(1) {
                position: absolute;
                top: 19.01px;
                right: 15%;
                z-index: 1;
            }

            img:nth-child(2) {
                position: absolute;
                top: 12px;
                right: 31%;
            }

            h3 {
                height: 72px;
                width: 80%;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 35px;
                margin: 174px 94px 10px 22px;
            }

            p {
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                margin: 0 21px 30px;
            }
        }

        .art3--texto {
            position: relative;
            height: 100%;
            max-height: 314px;
            border: 1px solid #E8E9ED;
            background-color: #FFFFFF;
            margin: 42px 30px 0;
            border-radius: 5px;

            h3 {
                width: 80%;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 35px;
                margin: 31px 6% 6%;
            }

            p {
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                margin: 31px 6% 6%;
            }
        }

        .art3--trompeta {
            position: relative;
            height: 195px;
            margin: 0px 30px;
            background-color: #55DFB4;
            border-radius: 5px;

            img {
                position: absolute;
                top: 25px;
                width: 90%;
                max-width: 350px;
            }

        }
    }





    .pricing {
        position: relative;
        h3 {
            font-family: "Raleway";
            font-size: 36px;
            text-align: center;
            font-weight: 400;
            line-height: 42px;
            margin-bottom: 14px;
        }
        .pricing--table{
            .basic:hover{
                box-shadow: 5px 10px 27px rgba(251, 59, 100, 0.90);
                transform: scale(1.15);
                transition: transform 0.3s ease-in-out;
                border-width: 2px;
            } 

            .premium:hover{
                box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.90);
                transform: scale(1.15);
                transition: transform 0.3s ease-in-out;
                border-width: 2px;

            }
            .prof:hover{
                box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.90);
                transform: scale(1.15);
                transition: transform 0.3s ease-in-out;
                border-width: 2px;
            }            

            .basic {
                position: relative;
                border: 1px solid #FB3B64;
                border-radius: 18px;
                margin: 0px 11% 54px;
                width: 75%;
                padding: 25px 0;
                display: table;

                & div {
                    display: table-cell;
                    vertical-align: middle;
                    width: 50%;
                }

                .basic--tittle {
                    p {
                        text-align: center;
                        font-family: 'Raleway';
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #13253B;
                    }

                    .basic--pricing {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 46px;
                        line-height: 64px;
                        color: #FB3B64;
                    }
                }

                @include tabla--precios;

                .basic--boton {
                    @include boton-position;
                    background: #EB476E;
                    border: 1px solid #FB3B64;

                    & p {
                        @include text-boton;
                    }
                }

            }

            .prof {
                position: relative;
                border: 1px solid #07ACE6;
                border-radius: 18px;
                margin: 0px 11% 54px;
                width: 75%;
                padding: 25px 0;
                display: table;

                & div {
                    display: table-cell;
                    vertical-align: middle;
                    width: 50%;
                }

                .prof--tittle {
                    p {
                        text-align: center;
                        font-family: 'Raleway';
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #13253B;
                    }

                    .prof--pricing {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 46px;
                        line-height: 64px;
                        color: #07ACE6
                    }

                    .sub {
                        @include sub;
                    }
                }



                @include tabla--precios;

                .prof--boton {
                    @include boton-position;
                    background: #07ACE6;
                    border: 1px solid #07ACE6;

                    p {
                        @include text-boton;
                    }
                }
            }

            .premium {
                position: relative;
                border: 1px solid #55DFB4;
                border-radius: 18px;
                margin: 0px 11% 54px;
                width: 75%;
                padding: 25px 0;
                display: table;

                & div {
                    display: table-cell;
                    vertical-align: middle;
                    width: 50%;
                }

                .premium--tittle {
                    p {
                        text-align: center;
                        font-family: 'Raleway';
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #13253B;
                    }

                    .premium--pricing {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 46px;
                        line-height: 64px;
                        color: #55DFB4;
                    }

                    .sub {
                        @include sub;
                    }
                }

                @include tabla--precios;

                .premium--boton {
                    @include boton-position;
                    background: #55DFB4;
                    border: 1px solid #55DFB4;

                    p {
                        @include text-boton;
                    }
                }
            }
        }

    }

    .formulario {
        position: relative;
        margin-left: 8%;

        .form--text {
            h3 {
                @include titulos;
                margin: 50px 0 5px;
            }

            .form--sub {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 38px;
            }

            .datos--contacto {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #A5A5A5;
                margin-bottom: 17px;

                & img {
                    margin-right: 11px;
                }
            }

        }

        .form--fields {
            label {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 15px;
                letter-spacing: 3.28px;
                color: #08A6E4;
                margin-bottom: 42px;
            }

            input {
                border: none;
                border-bottom: 1px solid #95989A;
                margin: 42px 0;
                font-size: 1rem;
            }
            input:focus{
                outline: none;
            }

            .protec--datos {
                display: table;
                position: relative;
                width: 85%;

                .aceptar {
                    display: table-cell;
                    vertical-align: middle;
                    margin-right: 10px;
                }

                p {
                    display: table-cell;
                    vertical-align: middle;
                    height: 144px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #707070;
                    width: 95%;
                }
            }

            .enviar {
                height: 57px;
                width: 60%;
                background: #08A6E4;
                color: #FFFFFF;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                border: 1px solid #08A6E4;
                box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
                border-radius: 35px;
                margin: 33px 0px 0px 31%;
                cursor: pointer;
            }
        }

    }

    footer {
        position: relative;
        width: 100%;
        height: 89px;
        left: 0px;
        bottom: 0px;
        margin-top: 44px;
        background: #F7F7F7;
        box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);

        h1 {
            margin: 22px 0 0 5%;
            font-family: "Raleway";
            font-size: 26px;
            font-weight: 300;
            line-height: 30px;
            display: inline-block;
            color: #08A6E4;
        }

        p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            color: #A5A5A5;
            margin-left: 5%;
        }

        .redes {
            position: absolute;
            top: 33px;
            right: 30px;

            img {
                margin: 0 5px 0;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .menu {
        nav {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-height: 70px;
            padding: 0;
        }

        .menu--logo {
            position: relative;
            left: 136px;
        }

        .boton {
            display: none;
        }

        .menu--lista {
            padding: 0;
            height: 70px;
            position: relative;
            display: flex;
            right: 115px;
            align-items: center;


            .lista--item {
                margin: 0;
                height: 70px;
                display: flex;
                position: relative;
                align-items: center;
                margin-left: 105px;
            }

            .lista--item:hover {
                border-bottom: 4px solid #08A6E4;
            }
        }
    }

    .principal {
        .principal--abrir {
            max-width: 440px;
        }
    }

    .fondo {
        .fondo--imagen {
            height: 594px;
        }
    }

    .estadistica {
        display: flex;
        justify-content: space-evenly;
        margin: 103px;
    }

    .articulos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 7% 15%;

        .art1 {
            position: relative;
            display: grid;
            padding: 0px 35px;
            grid-template-columns: 1fr 1fr;
            justify-items: left;
            align-content: center;
            column-gap: 20px;

            img:nth-child(3) {
                display: block;
                grid-column: 2;
                position: absolute;
                top: 100px;
                right: 5%;
                z-index: 2;
            }

            img:nth-child(4) {
                display: block;
                grid-column: 2;
                position: absolute;
                top: 50px;
                right: 2%;
                z-index: 1;
            }

            img:nth-child(1),
            img:nth-child(2) {
                display: none;
            }



            & h3 {
                grid-column: 1;
                margin: 0px;
                height: auto;
            }

            & p {
                grid-column: 1;
                margin: 30px 0px 50px;                
                width: 70%;
                border-bottom: 4px solid #EB476E;
                padding-bottom: 50px;
            }
        }



        .art2 {
            position: relative;
            display: grid;
            padding: 0px 35px;
            grid-template-columns: 1fr 1fr;
            justify-items: right;
            align-content: center;
            column-gap: 20px;

            img:nth-child(3) {
                display: block;
                grid-column: 1;
                position: absolute;
                top: 30px;
                left: -2%;
                z-index: 2;
            }

            img:nth-child(4) {
                display: block;
                grid-column: 1;
                position: absolute;
                top: 12px;
                left: 0%;
                z-index: 1;
            }

            img:nth-child(1),
            img:nth-child(2) {
                display: none;
            }
            & h3 {
                grid-column: 2;
                margin: 0px;
                height: auto;
            }

            & p {
                grid-column: 2;
                margin: 30px 0px 50px;
                width: 80%;
                border-bottom: 4px solid #07ACE6;
                padding-bottom: 50px;
            }
        }
        .art3 {
            width: 100%;
            display: flex;
            padding: 0 30px;
        
            .art3--texto {
                height: 370px;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 0px;
                margin-right: 30px;
                padding-left: 30px;
                & h3{
                    margin: 0px;
                }
                & p{
                    margin: 0px;
                    width: 80%;
                    border-bottom: 4px solid #55DFB4;
                    padding-bottom: 50px;
                }
            }
            .art3--trompeta{
                display: flex;
                width: 60%;
                height: auto;
                margin: 0px;

                img{
                    top: 75px;
                }
            }
        }

        

        
    }


    .pricing {
        display: flex;
        flex-direction: column;
        margin-top: 127.5px;        
        .pricing--table {
            margin: 50px 132px 180px;
            display: flex;
            align-items: center;            
            .basic, .prof, .premium {
                margin: 0 25px;
                display: flex;                
                flex-direction: column;
                align-items: center;                               
            }
            .prof {
                .sub{
                    margin-bottom: 61px;
                }
            }
            .premium {
                .sub {
                    margin-bottom: 61px;
                }
            }
            .basic {
                .basic--pricing{
                    margin-bottom: 75px;
                }
            }
            .txt {
                margin-bottom: 14px;
            }          
            
        }           
        
    }

    .formulario {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: start;

        .form--text {
            margin-right: 113px;
            display: flex;
            flex-direction: column;
            text-align: end;
            .form--datos{
                display: flex;
                justify-content: end;
                .datos--contacto{
                    margin-left: 23px;
                }
            }

            h3 {
                margin: 0;
            }
        }

        .form--fields {
            width: 440px;

            #name,
            #email {
                width: 80%;
                
            }

            .enviar {
                max-width: 226px;
                max-height: 57px;

            }
        }
    }

}