@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 320px) {
  body {
    min-width: 320px;
  }
  header {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;
  }
  .menu {
    /* Código botón */
    /* Estilo del botón */
    /* Animacion hamburguesa */
    /* Comportamiento del botón */
  }
  .menu nav {
    padding-left: 25px;
    padding-top: 17px;
    background-color: #fff;
  }
  .menu .menu--logo {
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 300;
    color: #08A6E4;
  }
  .menu #abrir-cerrar {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
  .menu .boton {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 0.5em;
    left: 85%;
  }
  .menu .boton:before {
    position: absolute;
    display: block;
    content: " ";
    width: 50%;
    left: 25%;
    transition: all 0.2s ease-out;
    top: 25%;
    height: 25%;
    border-top: 1px solid #07ACE6;
    border-bottom: 1px solid #07ACE6;
    background-color: transparent;
  }
  .menu .boton:after {
    position: absolute;
    display: block;
    content: " ";
    width: 50%;
    left: 25%;
    transition: all 0.2s ease-out;
    height: 1px;
    background-color: #07ACE6;
    bottom: 25%;
  }
  .menu #abrir-cerrar:checked + .boton:before,
  .menu #abrir-cerrar:checked + .boton:after {
    top: 50%;
    height: 1px;
    border-bottom: 0;
  }
  .menu #abrir-cerrar:checked + .boton:before {
    transform: rotate(45deg);
  }
  .menu #abrir-cerrar:checked + .boton:after {
    transform: rotate(-45deg);
  }
  .menu #abrir-cerrar:checked ~ .menu--lista {
    display: block;
  }
  .menu .menu--lista {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
  }
  .menu .menu--lista .lista--item {
    margin-bottom: 14px;
  }
  .menu .menu--lista .lista--item a {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    color: #a5a5a5;
  }
  .menu .menu--lista .lista--item a:hover {
    color: black;
    cursor: pointer;
  }
  .principal {
    margin-top: 170px;
    text-align: center;
    color: #000000;
  }
  .principal h2 {
    font-family: "raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
  }
  .principal p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin: 20px 33px 28px;
  }
  .principal .principal--abrir {
    height: 67px;
    width: 90%;
    background: #08A6E4;
    border: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
    cursor: pointer;
  }
  .principal .principal--abrir p {
    color: white;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .fondo .fondo--imagen {
    height: 267px;
    margin-top: 51px;
    width: 100%;
    background-image: url(/images/Fondo_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fondo p {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 13px 36px 25px;
  }
  .estadistica {
    position: relative;
  }
  .estadistica .vector {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
  }
  .estadistica .vector .persona, .estadistica .vector .ojo, .estadistica .vector .tarjetas {
    position: absolute;
    left: 50%;
    top: 10%;
  }
  .estadistica .cantidad {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5.96px;
    line-height: 24px;
  }
  .estadistica .objeto {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    font-style: normal;
    margin-top: 1em;
  }
  .ventajas {
    background-color: #F7F7F7;
    padding: 2em;
  }
  .ventajas h3 {
    height: 72px;
    width: 80%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin: 174px 94px 10px 22px;
  }
  .ventajas p {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 0 21px 30px;
    line-height: 21px;
  }
  .ventajas .marco1, .ventajas .marco2 {
    height: 370px;
    border: 1px solid #E8E9ED;
    background-color: #fff;
    margin: 42px 30px 0;
    border-radius: 5px;
    position: relative;
  }
  .ventajas .marco1 img[class], .ventajas .marco2 img[class] {
    position: absolute;
  }
  .ventajas .objeto1 {
    top: 37px;
    right: 25%;
    z-index: 1;
  }
  .ventajas .objeto2 {
    top: 15px;
    right: 25%;
    border-radius: 41px;
  }
  .ventajas .objeto3 {
    top: 19px;
    right: 50px;
    z-index: 1;
  }
  .ventajas .objeto4 {
    top: 15px;
    right: 93px;
  }
  .ventajas .marco3 {
    position: relative;
    height: 100%;
    max-height: 314px;
    border: 1px solid #E8E9ED;
    background-color: #FFFFFF;
    margin: 42px 30px 0;
    border-radius: 5px;
  }
  .ventajas .marco3 .marco3--tittle {
    width: 80%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin: 31px 6% 6%;
  }
  .ventajas .marco3 .marco3--text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 31px 6% 6%;
  }
  .ventajas .marco3--imagen-verde {
    position: relative;
    height: 195px;
    margin: 0px 30px;
    background-color: #55DFB4;
    border-radius: 5px;
  }
  .ventajas .marco3--imagen-verde .objeto5 {
    position: absolute;
    top: 25px;
    width: 90%;
    max-width: 350px;
  }
  .pricing {
    margin-top: 53.34px;
    position: relative;
  }
  .pricing h3 {
    font-family: "Raleway";
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 14px;
  }
  .pricing .basic--tittle,
  .pricing .premium--tittle,
  .pricing .prof--tittle {
    position: relative;
  }
  .pricing .basic--tittle p,
  .pricing .premium--tittle p,
  .pricing .prof--tittle p {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .pricing .basic {
    position: relative;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    margin: 0px 11% 54px;
    width: 75%;
    padding: 25px 0;
    display: table;
  }
  .pricing .basic div {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .pricing .basic .basic--pricing {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #FB3B64;
  }
  .pricing .basic ul {
    text-align: left;
  }
  .pricing .basic ul li {
    list-style-type: none;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .pricing .basic ul img {
    width: 14px;
    margin-right: 10px;
  }
  .pricing .basic .basic--boton {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 50%;
    height: 50px;
    border-radius: 23px;
    cursor: pointer;
    background: #EB476E;
    border: 1px solid #FB3B64;
  }
  .pricing .basic .basic--boton p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .pricing .prof {
    position: relative;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
    margin: 0px 5% 54px;
    display: table;
    width: 87%;
    padding: 50px 0;
  }
  .pricing .prof div {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .pricing .prof .prof--pricing {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #07ACE6;
  }
  .pricing .prof .sub {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }
  .pricing .prof ul {
    text-align: left;
  }
  .pricing .prof ul li {
    list-style-type: none;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .pricing .prof ul img {
    width: 14px;
    margin-right: 10px;
  }
  .pricing .prof .prof--boton {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 50%;
    height: 50px;
    border-radius: 23px;
    cursor: pointer;
    background: #07ACE6;
    border: 1px solid #07ACE6;
  }
  .pricing .prof .prof--boton p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .pricing .premium {
    position: relative;
    border: 1px solid #55DFB4;
    border-radius: 18px;
    margin: 0 11% 54px;
    display: table;
    width: 75%;
    padding: 25px 0;
  }
  .pricing .premium div {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .pricing .premium .premium--pricing {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #55DFB4;
  }
  .pricing .premium .sub {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }
  .pricing .premium ul {
    text-align: left;
  }
  .pricing .premium ul li {
    list-style-type: none;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .pricing .premium ul img {
    width: 14px;
    margin-right: 10px;
  }
  .pricing .premium .premium--boton {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 50%;
    height: 50px;
    border-radius: 23px;
    cursor: pointer;
    background: #55DFB4;
    border: 1px solid #55DFB4;
  }
  .pricing .premium .premium--boton p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .formulario {
    position: relative;
    margin-left: 8%;
  }
  .formulario .form--text h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    margin: 50px 0 5px;
  }
  .formulario .form--text .form--sub {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
  }
  .formulario .form--text .datos--contacto {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #A5A5A5;
    margin-bottom: 17px;
  }
  .formulario .form--text .datos--contacto img {
    margin-right: 11px;
  }
  .formulario .form--fields label {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08A6E4;
    margin-bottom: 42px;
  }
  .formulario .form--fields input {
    border: none;
    border-bottom: 1px solid #95989A;
    margin: 42px 0;
  }
  .formulario .form--fields .protec--datos {
    display: table;
    position: relative;
    width: 85%;
  }
  .formulario .form--fields .protec--datos .aceptar {
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
  }
  .formulario .form--fields .protec--datos p {
    display: table-cell;
    vertical-align: middle;
    height: 144px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #707070;
    width: 95%;
  }
  .formulario .form--fields .enviar {
    height: 57px;
    width: 60%;
    background: #08A6E4;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    margin: 33px 0px 0px 31%;
    cursor: pointer;
  }
  footer {
    position: relative;
    width: 100%;
    height: 89px;
    left: 0px;
    bottom: 0px;
    margin-top: 44px;
    background: #F7F7F7;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  }
  footer h1 {
    margin: 22px 0 0 5%;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    display: inline-block;
    color: #08A6E4;
  }
  footer p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;
    margin-left: 5%;
  }
  footer .redes {
    position: absolute;
    top: 33px;
    right: 30px;
  }
  footer .redes img {
    margin: 0 5px 0;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1000px) {
  .menu nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    padding: 0;
  }
  .menu .menu--logo {
    position: relative;
    left: 136px;
  }
  .menu .boton {
    display: none;
  }
  .menu .menu--lista {
    padding: 0;
    height: 70px;
    position: relative;
    display: flex;
    right: 115px;
    align-items: center;
  }
  .menu .menu--lista .lista--item {
    margin: 0;
    height: 70px;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 105px;
  }
  .menu .menu--lista .lista--item:hover {
    border-bottom: 4px solid #08A6E4;
  }
  .principal .principal--abrir {
    max-width: 440px;
  }
  .fondo .fondo--imagen {
    height: 594px;
  }
  .estadistica {
    margin: 100px 391px 122px 412px;
    display: flex;
    justify-content: space-between;
  }
  .ventajas {
    padding: 105px 252px 105.33px 251px;
  }
  .ventajas .marco1 h3 {
    margin: 91px 0 30px 36px;
    max-width: 40%;
    font-size: 36px;
    line-height: 42px;
  }
  .ventajas .marco1 p {
    max-width: 40%;
    margin: 0 0 91px 36px;
    padding-bottom: 50px;
    font-size: 1em;
    line-height: 22px;
  }
  .ventajas .marco1 p {
    border-bottom: 4px solid #FB3B64;
  }
  .ventajas .marco1 .objeto1 {
    top: 20%;
    right: 5%;
    width: 384.44px;
    height: 219px;
    padding-left: 384.44px;
    background-image: url(images/Macbook2\ 1.png);
  }
  .ventajas .marco1 .objeto2 {
    /*scale: 187%;*/
    top: 7%;
    right: 4%;
    width: 184px;
    height: 184px;
    padding-left: 184px;
    background-image: url(images/rombo\ rojo.png);
    background-position: center;
    background-size: cover;
  }
  .ventajas .marco2 h3 {
    margin: 91px 0 30px 36px;
    max-width: 40%;
    font-size: 36px;
    line-height: 42px;
  }
  .ventajas .marco2 p {
    max-width: 40%;
    margin: 0 0 91px 36px;
    padding-bottom: 50px;
    font-size: 1em;
    line-height: 22px;
  }
  .ventajas .marco2 h3 {
    position: relative;
    left: 52%;
    max-width: 259px;
  }
  .ventajas .marco2 p {
    position: relative;
    border-bottom: 4px solid #08A6E4;
    left: 52%;
  }
  .ventajas .marco2 .objeto3 {
    width: 426px;
    height: 328px;
    padding-left: 426px;
    background-image: url(images/iPhone2\ 1.png);
    right: 50%;
  }
  .ventajas .marco2 .objeto4 {
    width: 320px;
    height: 320px;
    padding-left: 320px;
    background-image: url(images/Ellipse\ 3\ \(1\).png);
    right: 62%;
  }
  .ventajas .marco3 {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    border: none;
  }
  .ventajas .marco3 h3 {
    max-width: 348px;
  }
  .ventajas .marco3 p {
    margin-bottom: 70.67px;
    border-bottom: 4px solid #55DFB4;
    padding-bottom: 50px;
    max-width: 416px;
  }
  .ventajas .marco3 .marco3--card {
    max-height: 370px;
    width: 623.04px;
    background-color: #fff;
  }
  .ventajas .marco3 .marco3--imagen-verde {
    margin: 0;
    width: 440px;
    height: 370px;
  }
  .pricing {
    margin: 127.5px 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: space-around;
  }
  .pricing h3 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .pricing .basic, .pricing .prof, .pricing .premium {
    grid-row-start: 2;
    display: grid;
    justify-items: center;
  }
  .pricing .basic, .pricing .premium {
    max-width: 372px;
    max-height: 461px;
  }
  .pricing .prof {
    max-height: 500px;
    max-width: 405px;
  }
  .formulario {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
  }
  .formulario .form--text {
    margin-right: 113px;
    display: flex;
    flex-direction: column;
    text-align: end;
  }
  .formulario .form--text h3 {
    margin: 0;
  }
  .formulario .form--fields {
    width: 440px;
  }
  .formulario .form--fields #name, .formulario .form--fields #email {
    width: 80%;
  }
  .formulario .form--fields .enviar {
    max-width: 226px;
    max-height: 57px;
  }
}/*# sourceMappingURL=style.css.map */